<div class="u-dropdown" uDropdown [autoClose]="autoClose">

  <button class="u-text-input u-dropdown-toggle" uDropdownToggle uRipple type="button" [disabled]="_disabled" [tabIndex]="tabIndex">
    <div #content>
      <ng-content select="[selection]"></ng-content>
    </div>

    <ng-container *ngIf="!content?.childNodes?.length">
      <div class="u-text-input-placeholder" *ngIf="empty">
        {{placeholder}}
      </div>
      <div class="u-text-input-value" *ngIf="!empty">
        {{selectionFormatter ? selectionFormatter(selectedValue) : selectedOption?.displayValue || selectedValue}}
      </div>
    </ng-container>
  </button>
  <div class="u-dropdown-menu w-100" uDropdownMenu [direction]="direction">
    <div class="u-dropdown-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
