<div class="u-dropdown" uDropdown [autoClose]="autoClose">
  <button class="u-text-input u-dropdown-toggle" uDropdownToggle type="button" [disabled]="_disabled" [tabIndex]="tabIndex">
    <div class="u-text-input-placeholder" *ngIf="empty">
      {{placeholder}}
    </div>
    <div class="u-text-input-value" *ngIf="!empty">
      {{selectionFormatter ? selectionFormatter(selectedItem) : selectedItem}}
    </div>
  </button>
  <div class="u-dropdown-menu w-100" uDropdownMenu [ngClass]="direction">
    <div class="u-dropdown-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
