<div class="u-text-field-container">
  <div class="u-text-field"
       [ngClass]="_appearanceClass"
       [class.u-text-field-no-label]="!_label"
       [class.invalid]="invalid"
       [class.disabled]="_input?.disabled"
       [class.focus]="_input?.focused"
       [class.empty]="_input?.empty">
    <ng-content></ng-content>
  </div>
  <div [class.d-none]="!helperText && !helperTextContent.children.length && !errorMessage && !errorMessageContent.children.length"
       [class.hide-helper-text]="!invalid && !helperText && !helperTextContent.children.length"
       class="u-text-field-helper-text">
    <div class="u-text-field-helper-text-default" #helperTextContent>
      <span *ngIf="helperText">{{helperText}}</span>
      <ng-content select="[uHelperText]"></ng-content>
    </div>
    <div class="u-text-field-helper-text-invalid" #errorMessageContent>
      <span *ngIf="errorMessage">{{errorMessage}}</span>
      <ng-content select="[uErrorMessage]"></ng-content>
    </div>
  </div>
</div>
