<div class="u-text-field"
     tabindex="-1"
     [ngClass]="_appearanceClass"
     [class.u-text-field-hidden-label]="!_hasLabel"
     [class.invalid]="invalid"
     [class.disabled]="_input?.disabled"
     [class.focus]="_input?.focused"
     [class.empty]="_input?.empty">
  <div
    uRipple
    [rippleDisabled]="_input?.disabled || !selectionField"
    class="u-text-field-state"
    (click)="click()"></div>
  <ng-content></ng-content>

</div>

<ng-container *ngIf="invalid && (errorText || errorTextContainer.children.length); else supportingTextTemplate">
  <div class="u-text-field-supporting-text">{{errorText}}</div>
</ng-container>
<div class="u-text-field-supporting-text"
     [class.d-none]="!invalid || !errorTextContainer.children.length"
     #errorTextContainer>
  <ng-content select="[uErrorText]"></ng-content>
</div>

<ng-template #supportingTextTemplate>
  <div
    *ngIf="supportingText"
    class="u-text-field-supporting-text">{{supportingText}}</div>
  <div class="u-text-field-supporting-text"
       [class.d-none]="!supportingTextContainer.children.length"
       #supportingTextContainer>
    <ng-content select="[uSupportingText]"></ng-content>
  </div>
</ng-template>
