<u-tab-bar>
  <u-tab>Tab A</u-tab>
  <u-tab>Tab B</u-tab>
  <u-tab>Tab C</u-tab>
</u-tab-bar>

<u-tab-bar (beforeChangeTab)="beforeChangeTab($event)">
  <u-tab>Tab A</u-tab>
  <u-tab>Tab B</u-tab>
  <u-tab>Tab C</u-tab>
</u-tab-bar>

<u-tab-bar [(tabIndex)]="tabIndex">
  <u-tab>Tab A</u-tab>
  <u-tab>Tab B</u-tab>
  <u-tab>Tab C</u-tab>
  <u-tab>Tab D</u-tab>
  <u-tab>Tab E</u-tab>
  <u-tab>Tab F</u-tab>
  <u-tab>Tab G</u-tab>
  <u-tab>Tab H</u-tab>
  <u-tab>Tab I</u-tab>
  <u-tab>Tab J</u-tab>
  <u-tab>Tab K</u-tab>
</u-tab-bar>

<div class="u-toolbar u-toolbar-primary">
  <u-tab-bar [(tabIndex)]="tabIndex">
    <u-tab>Tab A</u-tab>
    <u-tab>Tab B</u-tab>
    <u-tab>Tab C</u-tab>
    <u-tab>Tab D</u-tab>
    <u-tab>Tab E</u-tab>
    <u-tab>Tab F</u-tab>
    <u-tab>Tab G</u-tab>
    <u-tab>Tab H</u-tab>
    <u-tab>Tab I</u-tab>
    <u-tab>Tab J</u-tab>
    <u-tab>Tab K</u-tab>
  </u-tab-bar>
</div>
