<div class="u-dialog-backdrop" (click)="backdropClick()"></div>
<div class="u-dialog-content">
  <div class="u-dialog-header" *ngIf="_confirmDialogConfig.title">
    <div class="u-dialog-title">{{_confirmDialogConfig.title}}</div>
  </div>
  <div class="u-dialog-body u-text-low-contrast" uDialogBody>{{message}}</div>
  <div class="u-dialog-actions">
    <button type="button" u-btn="flat" color="primary" (click)="_cancelClick()">{{_confirmDialogConfig.cancelLabel}}</button>
    <button type="button" u-btn="flat" color="primary" (click)="_confirmClick()">{{_confirmDialogConfig.confirmLabel}}</button>
  </div>
</div>
