<div class="u-datepicker">
  <ng-template [ngIf]="pickerState === DatepickerState.SelectDay">
    <div class="u-datepicker-header">
      <button type="button" u-btn="flat" (click)="pickerState = DatepickerState.SelectYear">
        {{currentMonth | date: 'MMM yyyy'}}
      </button>
      <div class="u-btn-set ml-auto">
        <button type="button" u-btn="borderless" (click)="showPreviousMonth()">
          <i class="u-btn-icon mdi mdi-chevron-left"></i>
        </button>
        <button type="button" u-btn="borderless" (click)="showNextMonth()">
          <i class="u-btn-icon mdi mdi-chevron-right"></i>
        </button>
      </div>
    </div>
    <div class="u-datepicker-body">
      <div class="u-datepicker-weekdays">
        <span class="u-datepicker-weekday" *ngFor="let dayName of weekDayNames">{{dayName}}</span>
      </div>
      <div class="u-datepicker-week" *ngFor="let week of weeks; trackBy: trackByWeek">
        <button type="button" uRipple class="u-datepicker-day"
              [class.active]="isEqualToSelectedDate(day.date)"
              [class.u-datepicker-current-day]="isEqualToTodayDate(day.date)"
              [class.u-datepicker-day-outside-month]="day.outsideMonth"
              (click)="selectDate(day.date)"
              *ngFor="let day of week.days; trackBy: trackByDay">{{day.date.getDate()}}</button>
      </div>
    </div>
    <div class="u-btn-set justify-content-end">
      <button *ngIf="!_innerConfig.hideClear" type="button" u-btn="flat" color="primary" (click)="selectDate(null)">{{_innerConfig.clearLabel}}</button>
    </div>
  </ng-template>
  <ng-template [ngIf]="pickerState === DatepickerState.SelectYear">
    <div class="u-datepicker-header">
      <button type="button" u-btn="flat" (click)="pickerState = DatepickerState.SelectDay">
        {{currentMonth | date: 'yyyy'}}
      </button>
      <div class="u-btn-set ml-auto">
        <button type="button" u-btn="borderless" (click)="setYearGroups(baseYear - totalVisibleYears)">
          <i class="u-btn-icon mdi mdi-chevron-left"></i>
        </button>
        <button type="button" u-btn="borderless" (click)="setYearGroups(baseYear + totalVisibleYears)">
          <i class="u-btn-icon mdi mdi-chevron-right"></i>
        </button>
      </div>
    </div>
    <div class="u-datepicker-body">
      <div class="u-datepicker-year-group" *ngFor="let yearGroup of yearGroups">
        <div uRipple class="u-datepicker-year-month-button"
             [class.active]="year === currentMonth.getUTCFullYear()"
             *ngFor="let year of yearGroup"
             (click)="setYear(year)">
          {{year}}
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template [ngIf]="pickerState === DatepickerState.SelectMonth">
    <div class="u-datepicker-header">
      <button type="button" u-btn="flat" (click)="pickerState = DatepickerState.SelectDay">
        {{currentMonth | date: 'yyyy'}}
      </button>
    </div>
    <div class="u-datepicker-body">
      <div class="u-datepicker-month-group" *ngFor="let monthGroup of monthGroups">
        <div uRipple class="u-datepicker-year-month-button"
             [class.active]="month.getUTCMonth() === currentMonth.getUTCMonth()"
             *ngFor="let month of monthGroup"
             (click)="setMonth(month)">
          {{month | date: 'MMM' | uppercase}}
        </div>
      </div>
    </div>
  </ng-template>
</div>
