<!--<h6 class="u-subtitle2">Filled buttons</h6>-->
<!--<u-button-set align="start">-->
<!--  <u-button>Default/Primary</u-button>-->
<!--  <u-button color="secondary">Secondary</u-button>-->
<!--  <u-button color="tertiary">Tertiary</u-button>-->
<!--  <u-button color="error">Error</u-button>-->
<!--  <u-button disabled>Disabled</u-button>-->
<!--</u-button-set>-->

<!--<h6 class="u-subtitle2">Elevated buttons</h6>-->
<!--<u-button-set align="start">-->
<!--  <u-button variant="elevated">Primary</u-button>-->
<!--  <u-button variant="elevated" disabled>Disabled</u-button>-->
<!--</u-button-set>-->

<!--<h6 class="u-subtitle2">Filled tonal buttons</h6>-->
<!--<u-button-set align="start">-->
<!--  <u-button variant="tonal">Primary</u-button>-->
<!--  <u-button variant="tonal" disabled>Disabled</u-button>-->
<!--</u-button-set>-->

<!--<h6 class="u-subtitle2">Text buttons</h6>-->
<!--<u-button-set align="start">-->
<!--  <u-button variant="text" color="primary">Primary</u-button>-->
<!--  <u-button variant="text" disabled>Disabled</u-button>-->
<!--</u-button-set>-->

<!--<h6 class="u-subtitle2">Outlined buttons</h6>-->
<!--<u-button-set align="start">-->
<!--  <u-button variant="outlined" color="primary">Primary</u-button>-->
<!--  <u-button variant="outlined" disabled>Disabled</u-button>-->
<!--</u-button-set>-->

<!--<h6 class="u-subtitle2">Icon buttons</h6>-->
<!--<u-button-set align="start">-->
<!--  <u-icon-button>-->
<!--    <i class="mdi mdi-heart"></i>-->
<!--  </u-icon-button>-->
<!--  <u-icon-button disabled>-->
<!--    <i class="mdi mdi-heart"></i>-->
<!--  </u-icon-button>-->
<!--</u-button-set>-->

<!--<h6 class="u-subtitle2">FAB</h6>-->
<!--<u-button-set align="start">-->
<!--  <u-fab size="small">-->
<!--    <i slot="icon" class="mdi mdi-pencil"></i>-->
<!--  </u-fab>-->
<!--  <u-fab>-->
<!--    <i slot="icon" class="mdi mdi-pencil"></i>-->
<!--  </u-fab>-->
<!--  <u-fab size="large">-->
<!--    <i slot="icon" class="mdi mdi-pencil"></i>-->
<!--  </u-fab>-->
<!--</u-button-set>-->

<!--<h6 class="u-subtitle2">FAB Colors</h6>-->
<!--<u-button-set align="start">-->
<!--  <u-fab>-->
<!--    <i slot="icon" class="mdi mdi-pencil"></i>-->
<!--  </u-fab>-->
<!--  <u-fab color="surface">-->
<!--    <i slot="icon" class="mdi mdi-pencil"></i>-->
<!--  </u-fab>-->
<!--  <u-fab color="branded">-->
<!--    <i slot="icon" class="mdi mdi-pencil"></i>-->
<!--  </u-fab>-->
<!--  <u-fab color="secondary">-->
<!--    <i slot="icon" class="mdi mdi-pencil"></i>-->
<!--  </u-fab>-->
<!--  <u-fab color="tertiary">-->
<!--    <i slot="icon" class="mdi mdi-pencil"></i>-->
<!--  </u-fab>-->
<!--  <u-fab disabled>-->
<!--    <i slot="icon" class="mdi mdi-pencil"></i>-->
<!--  </u-fab>-->
<!--</u-button-set>-->

<!--<h6 class="u-subtitle2">Lowered FAB</h6>-->
<!--<u-button-set align="start">-->
<!--  <u-fab color="branded">-->
<!--    <i slot="icon" class="mdi mdi-pencil"></i>-->
<!--  </u-fab>-->
<!--  <u-fab color="branded" lowered>-->
<!--    <i slot="icon" class="mdi mdi-pencil"></i>-->
<!--  </u-fab>-->
<!--</u-button-set>-->


<!--<h6 class="u-subtitle2">Extended FAB</h6>-->
<!--<u-button-set align="start">-->
<!--  <u-fab label="Compose">-->
<!--    <i slot="icon" class="mdi mdi-pencil"></i>-->
<!--  </u-fab>-->
<!--</u-button-set>-->
