<h6 class="u-subtitle2">Buttons colors</h6>
<div class="u-btn-set">
  <button u-btn>Default</button>
  <button u-btn color="primary">Primary</button>
  <button u-btn color="primary-variant">Primary variant</button>
  <button u-btn color="secondary">Secondary</button>
  <button u-btn color="secondary-variant">Secondary variant</button>
  <button u-btn color="danger">Danger</button>
  <button u-btn disabled>Disabled</button>
</div>

<h6 class="u-subtitle2">Solid buttons (default)</h6>
<div class="u-btn-set">
  <button u-btn color="primary">Primary</button>
  <button u-btn disabled>Disabled</button>
</div>

<h6 class="u-subtitle2">Raised buttons</h6>
<div class="u-btn-set">
  <button u-btn="raised" color="primary">Primary</button>
  <button u-btn="raised" disabled>Disabled</button>
</div>

<h6 class="u-subtitle2">Flat buttons</h6>
<div class="u-btn-set">
  <button u-btn="flat" color="primary">Primary</button>
  <button u-btn="flat" disabled>Disabled</button>
</div>

<h6 class="u-subtitle2">Outline buttons</h6>
<div class="u-btn-set">
  <button u-btn="outline" color="primary">Primary</button>
  <button u-btn="outline" disabled>Disabled</button>
</div>

<h6 class="u-subtitle2">Outline gray border buttons</h6>
<div class="u-btn-set">
  <button u-btn="outline-gray" color="primary">Primary</button>
  <button u-btn="outline-gray" disabled>Disabled</button>
</div>

<h6 class="u-subtitle2">Borderless buttons</h6>
<div class="u-btn-set">
  <button u-btn="borderless" color="primary">
    <i class="u-btn-icon mdi mdi-heart"></i>
  </button>
  <button u-btn="borderless" disabled>
    <i class="u-btn-icon mdi mdi-heart"></i>
  </button>
</div>

<h6 class="u-subtitle2">Floating buttons</h6>
<div class="u-btn-set">
  <button u-btn="floating" color="primary">
    <i class="u-btn-icon mdi mdi-heart"></i>
  </button>
  <button u-btn="floating" disabled>
    <i class="u-btn-icon mdi mdi-heart"></i>
  </button>
</div>
