<h6 class="u-subtitle2">Filled buttons</h6>
<div class="u-btn-set">
  <button u-btn>Default/Primary</button>
  <button u-btn color="secondary">Secondary</button>
  <button u-btn color="tertiary">Tertiary</button>
  <button u-btn color="error">Error</button>
  <button u-btn disabled>Disabled</button>
</div>

<h6 class="u-subtitle2">Elevated buttons</h6>
<div class="u-btn-set">
  <button u-btn="elevated">Primary</button>
  <button u-btn="elevated" disabled>Disabled</button>
</div>

<h6 class="u-subtitle2">Filled tonal buttons</h6>
<div class="u-btn-set">
  <button u-btn="filled-tonal">Primary</button>
  <button u-btn="filled-tonal" disabled>Disabled</button>
</div>

<h6 class="u-subtitle2">Filled buttons (default)</h6>
<div class="u-btn-set">
  <button u-btn color="primary">Primary</button>
  <button u-btn disabled>Disabled</button>
</div>

<h6 class="u-subtitle2">Text buttons</h6>
<div class="u-btn-set">
  <button u-btn="text" color="primary">Primary</button>
  <button u-btn="text" disabled>Disabled</button>
</div>

<h6 class="u-subtitle2">Outlined buttons</h6>
<div class="u-btn-set">
  <button u-btn="outlined" color="primary">Primary</button>
  <button u-btn="outlined" disabled>Disabled</button>
</div>

<h6 class="u-subtitle2">Icon buttons</h6>
<div class="u-btn-set">
  <button u-btn="icon" color="primary">
    <i class="u-btn-icon mdi mdi-heart"></i>
  </button>
  <button u-btn="icon" disabled>
    <i class="u-btn-icon mdi mdi-heart"></i>
  </button>
</div>

<h6 class="u-subtitle2">Floating buttons</h6>
<div class="u-btn-set">
  <button u-btn="floating" color="primary">
    <i class="u-btn-icon mdi mdi-heart"></i>
  </button>
  <button u-btn="floating" disabled>
    <i class="u-btn-icon mdi mdi-heart"></i>
  </button>
</div>
