<button type="button" (click)="invalid = !invalid">Toggle invalid</button>

<u-form-field [invalid]="invalid">
  <input uTextInput />
  <label uLabel>Name</label>
</u-form-field>

<u-form-field [invalid]="invalid">
  <div class="u-text-input">
    <span class="u-text-input-prefix">$</span>
    <input uTextInput [setInputClass]="false" />
  </div>
  <label uLabel>Amount</label>
</u-form-field>

<u-form-field [invalid]="invalid">
  <textarea uTextInput></textarea>
  <label uLabel>Description</label>
</u-form-field>

<div class="u-divider mb-4"></div>

<u-form-field appearance="outline" [invalid]="invalid">
  <input uTextInput />
  <label uLabel>Name</label>
  <div uErrorMessage>Teste</div>
</u-form-field>

<div class="u-divider mb-4"></div>

<u-form-field appearance="search" [invalid]="invalid">
  <div class="u-text-field-leading-icon">
    <i class="mdi mdi-calendar"></i>
  </div>
  <div class="u-text-field-trailing-icon">
    <button u-btn="borderless">
      <i class="u-btn-icon mdi mdi-calendar"></i>
    </button>
  </div>

  <input uTextInput placeholder="Search" />
  <div uErrorMessage>Teste</div>
</u-form-field>

<u-form-field appearance="search-elevated" [invalid]="invalid">
  <div class="u-text-field-leading-icon">
    <i class="mdi mdi-calendar"></i>
  </div>
  <div class="u-text-field-trailing-icon">
    <button u-btn="borderless">
      <i class="u-btn-icon mdi mdi-calendar"></i>
    </button>
  </div>

  <input uTextInput placeholder="Search" />
  <div uErrorMessage>Teste</div>
</u-form-field>
