<button type="button" (click)="invalid = !invalid">Toggle invalid</button>

<u-form-field [invalid]="invalid" supportingText="Supporting text">
  <label uLabel>Name</label>
  <input uTextInput />
</u-form-field>

<u-form-field [invalid]="invalid" supportingText="Supporting text" errorText="Some error">
  <label uLabel>Name</label>
  <input uTextInput />
</u-form-field>

<u-form-field [invalid]="invalid" errorText="Some error">
  <label uLabel>Name</label>
  <input uTextInput />
  <div uSupportingText>Supporting text</div>
</u-form-field>

<u-form-field [invalid]="invalid" supportingText="Supporting text">
  <label uLabel>Name</label>
  <input uTextInput />
  <div uErrorText>Some error</div>
</u-form-field>

<u-form-field [invalid]="invalid">
  <label uLabel>Name</label>
  <input uTextInput />
  <div uSupportingText>Supporting text</div>
  <div uErrorText>Some error</div>
</u-form-field>

<u-form-field [invalid]="invalid">
  <label uLabel>Amount</label>
  <div class="u-text-input">
    <input uTextInput />
  </div>
  <div uSupportingText>Supporting text</div>
</u-form-field>

<u-form-field [invalid]="invalid" supportingText="Supporting text" errorText="Some error">
  <label uLabel>Description</label>
  <textarea uTextInput></textarea>
</u-form-field>

<div class="u-divider mb-4"></div>

<u-form-field appearance="outlined" [invalid]="invalid">
  <label uLabel>Name</label>
  <input uTextInput />
  <div uSupportingText *ngIf="invalid">Teste</div>
</u-form-field>

<div class="u-divider mb-4"></div>

<u-form-field appearance="search" [invalid]="invalid">
  <div class="u-text-field-leading-icon">
    <i class="mdi mdi-calendar"></i>
  </div>
  <div class="u-text-field-trailing-icon">
    <button u-btn="icon">
      <i class="u-btn-icon mdi mdi-calendar"></i>
    </button>
  </div>

  <input uTextInput placeholder="Search" />
  <div uSupportingText *ngIf="invalid">Teste</div>
</u-form-field>

<!--<u-form-field appearance="search-elevated" [invalid]="invalid">-->
<!--  <div class="u-text-field-leading-icon">-->
<!--    <i class="mdi mdi-calendar"></i>-->
<!--  </div>-->
<!--  <div class="u-text-field-trailing-icon">-->
<!--    <button u-btn="icon">-->
<!--      <i class="u-btn-icon mdi mdi-calendar"></i>-->
<!--    </button>-->
<!--  </div>-->

<!--  <input uTextInput placeholder="Search" />-->
<!--  <div uSupportingText *ngIf="invalid">Teste</div>-->
<!--</u-form-field>-->
