<u-button (click)="hide = !hide">Toggle</u-button>

<select
  *ngIf="!hide"
  [(ngModel)]="selectedState"
  [compareWith]="stateComparer">
  <option
    [ngValue]="null">None</option>
  <option *ngFor="let state of states$ | async" [ngValue]="state">{{state.name}}</option>
</select>


<u-select
  *ngIf="!hide"
  label="State"
  [(ngModel)]="selectedState"
  [compareWith]="stateComparer">
  <u-option
    [ngValue]="null">None</u-option>
  <u-option *ngFor="let state of states$ | async" [ngValue]="state">{{state.name}}</u-option>
  <div slot="supporting-text">{{ selectedState | json }}</div>
</u-select>
