<u-form-field>
  <div class="u-text-field-trailing-icon">
    <span class="mdi mdi-calendar"></span>
  </div>
  <u-datepicker-input placeholder="Choose a date" [(ngModel)]="date"></u-datepicker-input>
  <label uLabel>Simple</label>
</u-form-field>

<u-form-field>
  <div class="u-text-field-trailing-icon">
    <span class="mdi mdi-calendar"></span>
  </div>
  <u-datepicker-input placeholder="Choose a date" [(ngModel)]="date" [inputFormatter]="inputFormatter"></u-datepicker-input>
  <label uLabel>Input formatter</label>
</u-form-field>

<u-form-field>
  <div class="u-text-field-trailing-icon">
    <span class="mdi mdi-calendar"></span>
  </div>
  <u-datepicker-input placeholder="Choose a date" [(ngModel)]="date" [min]="minDate" [max]="maxDate"></u-datepicker-input>
  <label uLabel>Min and max dates</label>
</u-form-field>

<ng-template #customDay let-date>{{date.getDate().toString().padStart(2, '0')}}</ng-template>

<u-datepicker [(date)]="date" [hideClear]="true" [dayTemplate]="customDay"></u-datepicker>
