<nav class="u-list u-list-selectable">
  <div class="u-navigation-drawer-headline u-title-s">Introduction</div>
  <div class="u-list-item">
    <div class="u-list-item-content">Getting started</div>
  </div>
  <div class="u-divider"></div>
  <div class="u-navigation-drawer-headline u-title-s">Forms Controls</div>
  <div class="u-list-item" uRipple routerLink="datepicker" routerLinkActive="active">
    <div class="u-list-item-content">Datepicker</div>
  </div>
  <div class="u-list-item" uRipple routerLink="slider" routerLinkActive="active">
    <div class="u-list-item-content">Slider</div>
  </div>

  <div class="u-divider"></div>
  <div class="u-navigation-drawer-headline u-title-s">Layout</div>

  <div class="u-list-item" uRipple routerLink="expansion-panel" routerLinkActive="active">
    <div class="u-list-item-content">Expansion panel</div>
  </div>
</nav>
