<nav class="u-list u-list-selectable">
  <div class="u-list-item">
    <div class="u-list-item-primary-content">Getting started</div>
  </div>
  <div class="u-divider"></div>
  <div class="u-list-section-title u-subtitle2">Forms Controls</div>
  <div class="u-list-item" uRipple routerLink="datepicker" routerLinkActive="active">
    <div class="u-list-item-primary-content">Datepicker</div>
  </div>
  <div class="u-list-item" uRipple routerLink="input" routerLinkActive="active">
    <div class="u-list-item-primary-content">Input</div>
  </div>
  <div class="u-list-item" uRipple routerLink="chip-input" routerLinkActive="active">
    <div class="u-list-item-primary-content">Chip input</div>
  </div>
  <div class="u-list-item" uRipple routerLink="select" routerLinkActive="active">
    <div class="u-list-item-primary-content">Select</div>
  </div>
  <div class="u-list-item" uRipple routerLink="selection-controls" routerLinkActive="active">
    <div class="u-list-item-primary-content">Selection controls</div>
  </div>
  <div class="u-list-item" uRipple routerLink="typeahead" routerLinkActive="active">
    <div class="u-list-item-primary-content">Typeahead</div>
  </div>

  <div class="u-divider"></div>
  <div class="u-list-section-title u-subtitle2">Layout</div>


  <div class="u-list-item" uRipple routerLink="tabs" routerLinkActive="active">
    <div class="u-list-item-primary-content">Tabs</div>
  </div>
  <div class="u-list-item" uRipple routerLink="ripples" routerLinkActive="active">
    <div class="u-list-item-primary-content">Ripples</div>
  </div>

  <div class="u-divider"></div>
  <div class="u-list-section-title u-subtitle2">Buttons</div>
  <div class="u-list-item" uRipple routerLink="buttons" routerLinkActive="active">
    <div class="u-list-item-primary-content">Buttons</div>
  </div>
  <div class="u-divider"></div>
  <div class="u-list-section-title u-subtitle2">Popup & Modals</div>

  <div class="u-list-item" uRipple routerLink="snackbar" routerLinkActive="active">
    <div class="u-list-item-primary-content">Snackbar</div>
  </div>
</nav>
