<u-expansion-panel-container>
  <u-expansion-panel>
    <div class="u-expansion-panel-label" uExpansionPanelHeader>Personal data</div>
    <div class="u-expansion-panel-label" uExpansionPanelHeader>Type your name and age</div>
    <div class="u-headline6">
      Content
    </div>
  </u-expansion-panel>
  <u-expansion-panel>
    <div class="u-expansion-panel-label" uExpansionPanelHeader>Personal data</div>
    <div class="u-expansion-panel-label" uExpansionPanelHeader>Type your name and age</div>
    <div class="u-headline6">
      Content
    </div>
  </u-expansion-panel>
  <u-expansion-panel>
    <div class="u-expansion-panel-label" uExpansionPanelHeader>Personal data</div>
    <div class="u-expansion-panel-label" uExpansionPanelHeader>Type your name and age</div>
    <div class="u-headline6">
      Content
    </div>
  </u-expansion-panel>
</u-expansion-panel-container>
