<ng-container *ngIf="datepicker">
  <div class="u-datepicker-header">
    <div class="u-datepicker-header-title">{{datepicker.datepickerTitle}}</div>
    <div class="u-datepicker-header-date">{{datepicker.formattedDate}}</div>
  </div>
  <div class="u-datepicker-body">
    <ng-container *ngIf="pickerState === DatepickerState.SelectDay">
      <div class="u-datepicker-navigation">
        <button type="button" u-btn="flat" (click)="pickerState = DatepickerState.SelectYear">
          {{datepicker.currentMonth.nameWithYear}}
        </button>
        <div class="u-btn-set ml-auto">
          <button type="button" u-btn="borderless" (click)="datepicker.showPreviousMonth()">
            <i class="u-btn-icon" [ngClass]="datepicker.navigateBackClass"></i>
          </button>
          <button type="button" u-btn="borderless" (click)="datepicker.showNextMonth()">
            <i class="u-btn-icon" [ngClass]="datepicker.navigateForwardClass"></i>
          </button>
        </div>
      </div>
      <div class="u-datepicker-content">
        <div class="u-datepicker-weekdays">
          <span class="u-datepicker-weekday" *ngFor="let dayName of datepicker.weekDayNames">{{dayName}}</span>
        </div>
        <div class="u-datepicker-week" *ngFor="let week of datepicker.weeks; trackBy: datepicker.trackByWeek">
          <button type="button" uRipple class="u-datepicker-day"
                  *ngFor="let day of week.days; trackBy: datepicker.trackByDay"
                  [class.active]="datepicker.isEqualToSelectedDate(day.date)"
                  [class.u-datepicker-current-day]="datepicker.isEqualToTodayDate(day.date)"
                  [class.u-datepicker-day-outside-month]="day.outsideMonth"
                  (click)="datepicker.selectDate(day.date)">{{day.date.getDate()}}</button>
        </div>
      </div>

    </ng-container>
    <ng-container *ngIf="pickerState === DatepickerState.SelectYear">
      <div class="u-datepicker-navigation">
        <button type="button" u-btn="flat" (click)="pickerState = DatepickerState.SelectDay">
          {{datepicker.currentMonth.formattedYear}}
        </button>
        <div class="u-btn-set ml-auto">
          <button type="button" u-btn="borderless" (click)="datepicker.setYearGroups(datepicker.baseYear - datepicker.totalVisibleYears)">
            <i class="u-btn-icon" [ngClass]="datepicker.navigateBackClass"></i>
          </button>
          <button type="button" u-btn="borderless" (click)="datepicker.setYearGroups(datepicker.baseYear + datepicker.totalVisibleYears)">
            <i class="u-btn-icon" [ngClass]="datepicker.navigateForwardClass"></i>
          </button>
        </div>
      </div>
      <div class="u-datepicker-content">
        <div class="u-datepicker-year-group" *ngFor="let yearGroup of datepicker.yearGroups">
          <div uRipple class="u-datepicker-year-month-button"
               [class.active]="year === datepicker.currentMonth.utcYear"
               *ngFor="let year of yearGroup"
               (click)="setYear(year)">
            {{year}}
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="pickerState === DatepickerState.SelectMonth">
      <div class="u-datepicker-navigation">
        <button type="button" u-btn="flat" (click)="pickerState = DatepickerState.SelectDay">
          {{datepicker.currentMonth.formattedYear}}
        </button>
      </div>
      <div class="u-datepicker-content">
        <div class="u-datepicker-month-group" *ngFor="let monthGroup of datepicker.monthGroups">
          <div uRipple class="u-datepicker-year-month-button"
               [class.active]="month.utcMonth === datepicker.currentMonth.utcMonth"
               *ngFor="let month of monthGroup"
               (click)="setMonth(month)">
            {{month.name | uppercase}}
          </div>
        </div>
      </div>
    </ng-container>
    <div class="u-btn-set u-datepicker-clear justify-content-end w-100">
      <button *ngIf="!datepicker._innerConfig.hideClear" type="button" u-btn="flat" color="primary"
              (click)="datepicker.selectDate(null)">{{datepicker._innerConfig.clearLabel}}</button>
    </div>
  </div>
</ng-container>
