<ng-container *ngIf="datepicker">
  <div class="u-datepicker-header" *ngIf="!datepicker.hideHeader">
    <div class="u-datepicker-header-title">{{datepicker.datepickerTitle}}</div>
    <div class="u-datepicker-header-date">{{datepicker.formattedDate}}</div>
  </div>
  <div class="u-datepicker-body">
    <ng-container *ngIf="pickerState === DatepickerState.SelectDay">
      <div class="u-datepicker-navigation">
        <u-button type="button" variant="text" (click)="pickerState = DatepickerState.SelectYear" [disabled]="disabled">
          {{datepicker.currentMonth.nameWithYear}}
        </u-button>
        <u-button-set class="ml-auto">
          <u-icon-button type="button" (click)="datepicker.showPreviousMonth()" [disabled]="disabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="1em" fill="currentColor">
              <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/>
            </svg>
          </u-icon-button>
          <u-icon-button type="button" (click)="datepicker.showNextMonth()" [disabled]="disabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="1em" fill="currentColor">
              <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
            </svg>
          </u-icon-button>
        </u-button-set>
      </div>
      <div class="u-datepicker-content">
        <div class="u-datepicker-weekdays">
          <span class="u-datepicker-weekday" *ngFor="let dayName of datepicker.weekDayNames">{{dayName}}</span>
        </div>
        <div class="u-datepicker-week" *ngFor="let week of datepicker.weeks; trackBy: datepicker.trackByWeek">
          <button type="button"
                  uRipple
                  class="u-datepicker-day"
                  [disabled]="disabled"
                  *ngFor="let day of week.days; trackBy: datepicker.trackByDay"
                  [class.disabled]="day.disabled"
                  [class.active]="datepicker.isEqualToSelectedDate(day.date)"
                  [class.u-datepicker-current-day]="datepicker.isEqualToTodayDate(day.date)"
                  [class.u-datepicker-day-outside-month]="day.outsideMonth"
                  (click)="!day.disabled && datepicker.selectDate(day.date)">
            <ng-container *ngTemplateOutlet="datepicker.dayTemplate || defaultDayTemplate; context: {$implicit: day.date}"></ng-container>
          </button>
        </div>
      </div>

    </ng-container>
    <ng-container *ngIf="pickerState === DatepickerState.SelectYear">
      <div class="u-datepicker-navigation">
        <u-button
          type="button"
          (click)="pickerState = DatepickerState.SelectDay"
          [disabled]="disabled">
          {{datepicker.currentMonth.formattedYear}}
        </u-button>
        <u-button-set class="ml-auto">
          <u-icon-button
            type="button"
            (click)="datepicker.setYearGroups(datepicker.baseYear - datepicker.totalVisibleYears)"
            [disabled]="disabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="1em" fill="currentColor">
              <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/>
            </svg>
          </u-icon-button>
          <u-icon-button
            type="button"
            (click)="datepicker.setYearGroups(datepicker.baseYear + datepicker.totalVisibleYears)"
            [disabled]="disabled">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="1em" fill="currentColor">
              <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
            </svg>
          </u-icon-button>
        </u-button-set>
      </div>
      <div class="u-datepicker-content">
        <div class="u-datepicker-year-group" *ngFor="let yearGroup of datepicker.yearGroups">
          <div uRipple class="u-datepicker-year-month-button"
               *ngFor="let year of yearGroup"
               [class.disabled]="year.disabled"
               [class.active]="year.year === datepicker.currentMonth.utcYear"
               (click)="!year.disabled && setYear(year.year)">{{year.year}}</div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="pickerState === DatepickerState.SelectMonth">
      <div class="u-datepicker-navigation">
        <u-button
          type="button"
          variant="text"
          (click)="pickerState = DatepickerState.SelectDay"
          [disabled]="disabled">
          {{datepicker.currentMonth.formattedYear}}
        </u-button>
      </div>
      <div class="u-datepicker-content">
        <div class="u-datepicker-month-group" *ngFor="let monthGroup of datepicker.monthGroups">
          <div uRipple class="u-datepicker-year-month-button"
               *ngFor="let month of monthGroup"
               [class.disabled]="month.disabled"
               [class.active]="month.utcMonth === datepicker.currentMonth.utcMonth"
               (click)="!month.disabled && setMonth(month)">{{month.name | uppercase}}</div>
        </div>
      </div>
    </ng-container>
    <u-button-set class="u-datepicker-clear justify-content-end w-100">
      <u-button
        *ngIf="!datepicker.hideClear"
        type="button"
        variant="text"
        color="primary"
        (click)="datepicker.selectDate(null)"
        [disabled]="disabled">{{datepicker.clearLabel}}</u-button>
    </u-button-set>
  </div>
</ng-container>

<ng-template #defaultDayTemplate let-date>{{date.getDate()}}</ng-template>
