<div class="u-drawer u-drawer-lg-permanent" [class.open]="showMenu">
  <aside class="u-drawer-content u-navigation-drawer">
    <app-navigation></app-navigation>
  </aside>
  <div class="u-drawer-backdrop" (click)="showMenu = false"></div>

  <div class="u-toolbar u-toolbar-fixed u-toolbar-primary" uToolbarElevateWhenScroll>
    <div class="u-toolbar-row">
      <div class="u-toolbar-start d-lg-none">
        <div class="u-toolbar-actions">
          <button type="button" u-btn="borderless" (click)="showMenu = !showMenu">
            <i class="u-btn-icon mdi mdi-menu"></i>
          </button>
        </div>
      </div>
      <div class="u-toolbar-center">
        <div class="u-toolbar-title">Universal Material Angular</div>
      </div>
      <div class="u-toolbar-end">
        <div class="u-toolbar-actions">
          <div uDropdown>
            <button u-btn="borderless" uDropdownToggle>
              <i class="u-btn-icon mdi mdi-format-paint"></i>
            </button>
            <div class="u-dropdown-menu" uDropdownMenu direction="down-left">
              <div *ngFor="let theme of themes" uRipple class="u-dropdown-item" (click)="setTheme(theme)">{{theme.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="u-container content">
    <router-outlet></router-outlet>
  </div>
</div>
