<u-side-navigation [toggleDrawer]="showMenu">
  <u-drawer
    slot="drawer">
    <app-navigation></app-navigation>
  </u-drawer>
  <u-top-app-bar>
    <u-icon-button
      slot="leading-icon"
      type="button"
      (click)="showMenu = !showMenu">
      <i class="mdi mdi-menu"></i>
    </u-icon-button>
    <span>Universal Material Angular</span>

    <u-icon-button>
      <i class="mdi mdi-format-paint"></i>
    </u-icon-button>
  </u-top-app-bar>

  <div class="u-container">
    <div #dummy></div>
    <router-outlet></router-outlet>
  </div>
</u-side-navigation>

