<div class="text-field-container">
  <div class="text-field text-field-box dropdown" uDropdown [class.invalid]="invalid" [class.empty]="nothingSelected()">
    <div class="text-field-trailing-icon">
      <i class="mdi mdi-menu-down"></i>
    </div>
    <button class="text-input dropdown-toggle" type="button" [disabled]="_disabled">
      <div class="text-input-placeholder" *ngIf="nothingSelected()">
        {{placeholder}}
      </div>
      <div class="text-input-value" *ngIf="!nothingSelected()">
        {{inputFormatter ? inputFormatter(selectedItem) : selectedItem}}
      </div>
    </button>
    <div class="dropdown-menu w-100" [ngClass]="direction">
      <div class="dropdown-content">
        <div class="dropdown-item" (click)="_selectItem(null)" *ngIf="nullSelectionLabel !== null && nullSelectionLabel !== undefined">{{nullSelectionLabel}}</div>
        <div class="dropdown-item" (click)="_selectItem(item)" *ngFor="let item of items">{{itemFormatter ? itemFormatter(item) : item}}</div>
      </div>
    </div>
    <label>{{label}}</label>
  </div>
  <ng-content></ng-content>
</div>
