<div class="u-dialog-backdrop"></div>
<div class="u-dialog-content">
  <div class="u-dialog-body">
    <div class="preloader-wrapper">
      <div class="spinner-layer">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <div class="u-dialog-progress-message u-headline6 u-text-low-contrast u-text-nowrap">{{message}}</div>
  </div>
</div>
