<u-selection-control appearance="checkbox" label="Checkbox">
  <input type="checkbox" />
</u-selection-control>
<div>
  <u-selection-control appearance="radio">
    <input type="radio" name="radio-example" />
    <div uLabel>Radio A</div>
  </u-selection-control>

  <u-selection-control appearance="radio" label="Radio B">
    <input type="radio" name="radio-example" />
  </u-selection-control>

  <u-selection-control appearance="radio" label="Radio C">
    <input type="radio" name="radio-example" />
  </u-selection-control>
</div>
<u-selection-control appearance="switch" label="Switch">
  <input type="checkbox" />
</u-selection-control>
