<u-highlight result="Eric Hideyuki Kono" term="ric"></u-highlight>

<label>
  <u-checkbox [(ngModel)]="checkBoxChecked"></u-checkbox>
  Checkbox {{checkBoxChecked ? 'checked' : 'unchecked'}}
</label>
<div>
  <label>
    <u-radio name="radio-example" [(ngModel)]="radio" value="A"></u-radio>
    Radio A
  </label>
  <label>
    <u-radio name="radio-example" [(ngModel)]="radio" value="B"></u-radio>
    Radio B
  </label>
  <label>
    <u-radio name="radio-example" [(ngModel)]="radio" value="C"></u-radio>
    Radio C
  </label>
</div>
<div>Radio: {{radio}}</div>
<label>
  <u-switch [(ngModel)]="switchBoxChecked"></u-switch>
  Switch {{switchBoxChecked ? 'checked' : 'unchecked'}}
</label>
